<div class="polesia--header--wrapper interactive-wrapper">

  <img class='img-background' src='https://uploads.guim.co.uk/2020/03/06/wide-1000.jpg' srcset='https://uploads.guim.co.uk/2020/03/06/wide-500.jpg 500w, https://uploads.guim.co.uk/2020/03/06/wide-1000.jpg 1000w, https://uploads.guim.co.uk/2020/03/06/wide-1600.jpg 1600w, https://uploads.guim.co.uk/2020/03/06/wide-2000.jpg 2000w, https://uploads.guim.co.uk/2020/03/06/wide-2600.jpg 2600w, https://uploads.guim.co.uk/2020/03/06/wide-3200.jpg 3200w'>

  <img class='img-background--mobile' src='https://uploads.guim.co.uk/2020/03/06/tall-1000.jpg' srcset='https://uploads.guim.co.uk/2020/03/06/tall-500.jpg 333w, https://uploads.guim.co.uk/2020/03/06/tall-1000.jpg 666w, https://uploads.guim.co.uk/2020/03/06/tall-1600.jpg 1066w, https://uploads.guim.co.uk/2020/03/06/tall-2000.jpg, https://uploads.guim.co.uk/2020/03/06/tall-2600.jpg 1732w'>

</div>
